/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik+Mono+One&display=swap'); */

* {
    box-sizing: border-box;
    font-family: 'Lato';
    margin: 0;
    padding: 0;
}

html {
    /* para deslizar cuando se hace click en los links del menu */
    scroll-behavior: smooth;
}

/* AVISO DE DESARROLLO*/
.informacion {
    background: #32203C;
    display: block;
    width: 100%;
    height: 25px;
    position: fixed;
    z-index: 100;
    margin: auto;
    overflow: auto;
    /* Cambiarlo cuando se adapte*/
}

.informacion p {
    font-size: 20px;
    text-align: center;
    color: #f5f5f5;
    font-weight: bolder;
    /* text-decoration: none; */
}

/* MENU */
.box-header {
    background: #32203C;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 99;
}

.box-header header {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    padding: 25px;
}

.box-header header .logo a {
    font-family: 'Rubik Mono One';
    font-size: 40px;
    color: #E8C547;
    text-decoration: none;
}

.box-header header .logo .caracter {
    font-size: 50px;
    font-family: 'Lato';
}

.box-header header .logo .dev {
    color: #fff;
    font-size: 20px;
    font-family: 'Rubik Mono One';
}

.box-header header ul {
    display: flex;
    list-style: none;
}

.box-header header nav ul a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .7s;
    text-decoration: none;
    font-size: 12px;
}

.box-header header nav ul li a:hover {
    color: #E8C547;
}

.nav-adaptativo {
    background-color: #497C90;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* INICIO*/

.inicio {
    background: linear-gradient(to top, #32203c95, #32203C),
        url(assets/FONDO.jpg);
    background-size: cover;
    width: 100%;
    height: 80vh;
    min-height: 730px;
    color: #fff;
    display: flex;

}

.inicio .contenedor-banner {
    padding: 20px;
    background-color: #1e2326;
    max-width: 600px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenedor-banner img {
    margin-top: 40px;
    border: 10px solid #E8C547;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%
}

.inicio .contenedor-banner h1 {
    margin-top: 40px;
    font-size: 30px;
    font-family: 'Rubik Mono One';
}

.inicio .contenedor-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenedor-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 58px;
    margin: 20px 30px;
    font-size: 40px;
    transition: .3s;
}

.inicio .contenedor-banner .redes a:hover {
    background-color: #E8C547;
}

/* FRASE CELEBRE */

.celebre {
    width: 100%;
    background-color: #201923;
    color: #fff;
}

.celebre .frase {
    height: 200px;
    margin-top: 20px;
    display: block;
    margin: 0px auto;
    font-size: 20px;
    max-width: 600px;
    padding-top: 50px;

}

.celebre .frase p {
    text-align: center;

}

.celebre .frase p.confucio {
    max-width: 600px;
    text-align: right;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
}

/* SOBRE MI */

.sobremi {
    background-color: #201923;
    color: #fff;
    padding: 20px 20px;
}

.sobremi .contenedor-seccion {
    max-width: 940px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.sobremi h2 {
    font-size: 35px;
    font-family: 'Rubik Mono One';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenedor-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenedor-seccion p span {
    font-family: 'Rubik Mono One';
    color: #E8C547;
    font-size: 22px;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 22px;
    font-family: 'Rubik Mono One';
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #E8C547;
}

.sobremi .fila .col ul li span {
    background-color: #E8C547;
    color: #201923;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .intereses {
    width: 100px;
    height: 100px;
    background-color: #1e2326;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .intereses:hover {
    background-color: #E8C547;
}

.sobremi .fila .col .contenedor-intereses .intereses i {
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 80px auto;
    padding: 10px 22px;
    font-size: 25px;
    font-family: 'Rubik Mono One';
    color: #fff;
    position: relative;
    z-index: 10;
    border-radius: 10px;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #E8C547;
    z-index: -1;
    transition: 1.1s;
}

.sobremi button:hover .overlay {
    width: 100%;
}

/* HABILIDADES */

.habilidades {
    background-color: #201923;
    color: #fff;
    padding: 20px 20px;
}

.habilidades .contenedor-seccion {
    max-width: 1000px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.habilidades h2 {
    font-size: 35px;
    font-family: 'Rubik Mono One';
    text-align: center;
    padding: 20px 0;
    margin-bottom: 80px;
}

.habilidades .fila {
    display: flex;
}

.habilidades .fila .col {
    width: 50%;
    padding: 0 20px;
}

.habilidades .fila .col h3 {
    font-size: 22px;
    font-family: 'Rubik Mono One';
    margin-bottom: 25px;
}

.habilidades img {
    height: 180px;
    margin: 10% 2%;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habilidades .fila .col .contenedor-profesionales {
    display: flex;
    flex-wrap: wrap;
}

.habilidades .fila .col .contenedor-profesionales .profesionales {
    width: 45%;
    height: 80px;
    background-color: #1e2326;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    font-size: 12px;
}

.habilidades .fila .col .contenedor-profesionales .profesionales i {
    font-size: 30px;
    margin-bottom: 10px;
}

.habilidades .fila .col .contenedor-profesionales .profesionales:hover {
    background-color: #E8C547;
}

/* HOJA DE VIDA */

.hojadevida {
    background-color: #201923;
    color: #fff;
    padding: 20px 20px;
}

.hojadevida .contenedor-seccion {
    max-width: 900px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 120px;
}

.hojadevida h2 {
    font-size: 35px;
    font-family: 'Rubik Mono One';
    text-align: center;
    padding: 20px 0;
    margin-bottom: 80px;
}

.hojadevida .fila {
    display: flex;
    justify-content: space-between;
}

.hojadevida .fila .col {
    width: 49%;
    padding: 0 20px;
}

.hojadevida .fila .col h3 {
    font-size: 22px;
    font-family: 'Rubik Mono One';
    margin-bottom: 25px;
}

.hojadevida .fila .izquierda {
    border-right: 2px solid #1e2326;
}

.hojadevida .fila .derecha {
    border-left: 2px solid #1e2326;
}

.hojadevida .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #1e2326;
    position: relative;
}

.hojadevida .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.hojadevida .fila .item .casa {
    color: #E8C547;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.hojadevida .fila .item .fecha {
    display: block;
    color: #E8C547;
    margin-bottom: 10px;
}

.hojadevida .fila .item p {
    line-height: 24px;
}

.hojadevida .fila .izq {
    border-right: 2px solid #E8C547;
    margin-right: 20px;
}

.hojadevida .fila .der {
    border-left: 2px solid #E8C547;
    margin-left: 20px;
}

.hojadevida .fila .item .conectori {
    height: 2px;
    background-color: #E8C547;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.hojadevida .fila .item .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #E8C547;
    float: right;
    position: relative;
    bottom: 4px;
}

.hojadevida .fila .item .conectord {
    height: 2px;
    background-color: #E8C547;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.hojadevida .fila .item .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #E8C547;
    float: left;
    position: relative;
    bottom: 4px;
}

/* PORTFOLIO */

.portfolio {
    background-color: #201923;
    color: #32203C;
    padding: 20px 20px;
}

.portfolio .contenedor-seccion {
    max-width: 900px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.portfolio h2 {
    font-size: 35px;
    font-family: 'Rubik Mono One';
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 80px;
}

.portfolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .galeria .proyecto {
    position: relative;
    max-width: 280px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .galeria .proyecto img {
    width: 100%;
}

.portfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(#E8C547, #E8C547);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portfolio .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.portfolio .galeria .proyecto .overlay:hover {
    opacity: .70;
}

.portfolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

/* CONTACTO */

.contacto {
    background-image: url();
    background-color: #201923;
    color: #fff;
    padding: 50px 0;
}

.contacto .contenedor-seccion {
    max-width: 950px;
    margin: auto;
}

.contacto h2 {
    font-size: 35px;
    font-family: 'Rubik Mono One';
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 40%;
    padding: 10px;
    position: relative;
    margin-right: 10px;
}

.contacto .colu {
    width: 60%;
    padding: 10px;
    display: block;
    position: relative;
}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 10px;
    background-color: #1e2326;
    color: #fff;
    font-size: 12px;
}

.contacto .col input,
.contacto .col .mensaje {
    overflow: auto;
    resize: none;
}


.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 15px;
    font-family: 'Rubik Mono One';
    color: #fff;
    position: relative;
    z-index: 10;
    border-radius: 10px;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #E8C547;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay {
    width: 100%;
}

.contacto img {
    margin-top: 10%;
    width: 550px;
}

.contacto .colu img {
    width: 100%;
}

.contacto .colu .info {
    position: absolute;
    top: 40%;
    background-color: #1e2326;
    padding: 20px;
    max-width: 250px;
    left: 25%;
    border-radius: 5%;
    transform: traslate(-50%, -50%);
}

.contacto .contenedor-seccion .fila .colu .info ul {
    list-style: none;
}

.contacto .colu .info ul li {
    margin-bottom: 10px;
}

.contacto .colu .info ul li i {
    color: #E8C547;
    display: inline-block;
    margin-right: 10px;
}

/* FOOTER */

footer {
    background-color: #32203C;
    color: #fff;
    padding: 25px 0 25px 0;
    text-align: center;
    position: relative;
    width: 100%;

}

footer .contenedor-seccion {
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: self-end;
}

footer .minicontenedor {
    text-align: left;
    width: 40%;
    display: inline-block;
    justify-content: left;
    margin-right: 120px;
}

footer .autor {
    display: inline;
    font-size: 30px;
    /* font-family: 'Rubik Mono One'; */
    color: #E8C547;
}


footer .autor-especial {
    font-size: 25px;
    font-family: 'Rubik Mono One';
    color: #E8C547;
}

footer .autor .dev {
    font-size: 15px;
    /* font-family: 'Rubik Mono One'; */
    color: #fff;
}

footer .redes {
    margin-bottom: 2px;

}

footer .redes a {
    text-align: center;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 58px;
    margin: 0 0;
    font-size: 40px;
    transition: .3s;

}



footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #E8C547;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

footer .redes a:hover {
    background-color: #E8C547;
}